* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    white-space: nowrap
}

body {
    background-color: grey;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 10px arial;
    background: linear-gradient(-45deg, hsl(0, 72%, 49%), hsl(135, 72%, 49%), hsl(225, 72%, 49%), hsl(315, 72%, 49%));
    background-size: 600% 600%;
    -webkit-animation: gradient 100s linear infinite;
    animation: gradient 100s linear infinite;
}

@-webkit-keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#forms {
    position: absolute;
    bottom: 50%;
    text-align: center;
}

#alert_msg {
    margin-top: 25px;
    color: red;
    font-size: 35px;
}

#message {
    margin-top: 2.5vh;
}

#main {
    text-align: center;
    font-size: 25px;
    color: white;
}

#image img {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}

#scoreboard {
    display: none;
    text-align: center;
    position: absolute;
    left: 10%;
    color: white;
    margin-right: auto;
    font-size: 200%;
    height: 30vh;
}

#navscores {
    width: 20vh;
    overflow: auto;
}

#navscores ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

#navscores span:last-child {
    margin-left: 10px;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px 10px rgba(255, 255, 255, 0.3);
    border: solid 3px transparent;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: white;
    border-radius: 5px;
}