body {
    margin: 0;
    padding: 0;
    background-color: grey;
    height: 100vh;
    width: 100wh;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 10px arial;
}

#forms {
    position: absolute;
    bottom: 50%;
}


#main {
    text-align: center;
    font-size: 25px;
    color : white;
}
